site_name: GlobalTaskHub Documentation
theme:
  name: readthedocs

plugins:
  - search
  - mkdocstrings

nav:
  - Home: index.md
  - API Reference:
      - Domain: domain.md
      - Application: application.md
      - Infrastructure: infrastructure.md
